{
  "workbench.colorTheme": "Default Dark Modern",
  "files.exclude": {
    "**/.amir/graphify-out": true
  },
  "search.exclude": {
    "**/.amir/graphify-out": true,
    "**/node_modules": true,
    "**/.git": true
  },
  "editor.formatOnSave": true,
  "amir.projectThemeId": "{{THEME_ID}}",
  "workbench.colorCustomizations": {{THEME_CUSTOMIZATIONS}}
}
